<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
  <test thread-count="5" name="Back end testing"> 
    <classes>
      <class name="testngsamplepkg.testcase1"/>
    </classes>
  </test> <!-- MyTest -->
  <test thread-count="5" name="Front end testing">
    <classes>
      <class name="testngsamplepkg.testcase2">
         <methods>
            <include name="testcas31" />
         </methods>
      </class>
      <class name="testngsamplepkg.testcase3"/>
    </classes>
  </test> <!-- MyTest -->
</suite> <!-- MyTestSuite -->
